/*  
RESETS, VAR E BODY
*/
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  font: normal 16px/1.5 "Inter", sans-serif;
  background: var(--columbia-blue);
  color: var(--black);
  margin-bottom: 50px;
}

body,
html {
  height: 100%;
}
:root {
  --branco-principal-noticia: #f5faff;
  --branco-quote: #f0f4fb;
  --preto-quote: #222;
  /* ou #dcefff?? */
  --branco-texto: #efe6dd;
  --azul-principal: #0c4384;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
HEADER
*/

header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--azul-principal);
  margin-bottom: 1rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--branco-texto);
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
nav a {
  font-size: 1.7rem;
  padding: 20px;
  height: 20px;
  border-radius: 4px;
}

.logo,
.home-link {
  /* max-height: 30%;
  max-width: 30%; */
  height: 60px;
  width: 60px;
}
.pesquisa-icon {
  height: 60px;
  width: 60px;
  align-self: center;
  justify-self: center;
}
/* ANIMAÇÕES GERAIS */
.logo,
nav a,
.search-wrapper,
.pesquisa-icon {
  transition: 0.3s;
}
nav a:hover,
.pesquisa-icon:hover {
  transform: scale(1.1);
}
.logo:hover,
.search-wrapper:hover {
  transform: scale(1.05);
}

/* 
FOOTER
 */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-principal);
  color: var(--branco-texto);
  font-size: 1.5rem;
}
footer p {
  margin-top: 1.5rem;
  font-size: 1rem;
  margin-bottom: 0;
}

/* .redes-sociais {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
} */

footer nav a img:hover {
  transform: scale(1.15);
}

footer nav a {
  display: inline-block;
  line-height: 0;
  padding: 0;
  margin: 0;
  margin: 0 0.5rem 0 0.5rem;
}
footer nav a,
footer nav a img {
  height: 45px;
  width: 45px;
  transition: transform 0.3s;
}

footer nav a:hover img {
  transform: scale(1.12);
}

/* 
RESPONSIVIDADE
*/
@media (max-width: 600px) {
  .container-noticias {
    grid-template-columns: 1fr;
  }
}
